@inherits LayoutComponentBase
<div class="page">
    <div class="mysidebar">
        <NavMenu />
    </div>

    <main class="mymain">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
